user www-data;
worker_processes auto;
pid /run/nginx.pid;

events {
    worker_connections 768;
}

http {
    server {
        listen {{ nginx_port }};
        server_name localhost;

        location / {
            return 200 'Hello from nginx on port {{ nginx_port }}!';
            add_header Content-Type text/plain;
        }
    }

    include /etc/nginx/mime.types;
    default_type application/octet-stream;
    sendfile on;
    keepalive_timeout 65;
}
